/* src/styles/App.css */
.container {
  min-height: 100vh;
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
}

.container.light {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  height: 40px;
}

.fund-wallet-button {
  background-color: #A5E547;
  color: #000000;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  height: auto;
  transition: background-color 0.2s;
}

.fund-wallet-button:hover {
  background-color: #8FCF3C
}

.fund-wallet-button:disabled {
  background-color: #4b4b4b;
  cursor: not-allowed;
}

.big-text{
  font-size: 32px;
  font-weight: 600;
}